<div>
    <form action="/posts/create/{{threadId}}" method="POST">
        {{#if errors}}
            <ul>
                {{#each errors}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        {{/if}}
        <div>
            <label>Title:</label>
            <input type="text" name="title" value="{{title}}">
        </div>
        <div>
            <label>Content:</label>
            <textarea name="content" rows="5">{{content}}</textarea>
        </div>
        <div>
            {{#if isLoggedIn}}
                <input type="submit" value="Create post">
            {{else}}
                <p>You need to sign in to create a post!</p>
            {{/if}}
        </div>
    </form>
</div>